.sidebar-container {
  display: inline-block;
  box-shadow: 1px 1px 4px #cccc;
  border-right: 1px solid #939393;
  border-top: 1px solid #939393;
  padding: 30px;
  width: 15%;
  height: 100%;
  .sidebar {
    width: 100%;
    .list-group {
      list-style: none;
      a {
        color: red;
        cursor: pointer;
      }
    }
    .title {
      color: #f2f2f2;
    }
  }
  .footer {
    border-top: 1px solid #cccc;
    color: #939393;
    text-align: left;
    margin-top: 20px;
  }
}
