.container-see_video {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: row;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .data-container {
    max-width: 30rem;
    color: #ccc;
    padding: 20px;
    .container-results {
      .videoImage {
        cursor: pointer;
        border: 2px solid #f2f2f2;
        margin-bottom: 20px;
        width: 27rem;
        height: 250px !important;
      }
    }
  }
  .video-title {
    color: #fff;
  }
  .channel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .description-video {
      color: #939393;
    }
    .channel-name {
      color: #939393;
    }
    .small-text {
      padding: 1px;
      padding-left: 10px;
      padding-right: 10px;
      background-color: #d81a1a;
      color: #fff;
      cursor: pointer;
      border-radius: 20px;
      font-size: 13px;
      font-weight: 300;
    }
  }

  i.fa {
    font-family: fontawesome !important;
    color: #cccc;
    font-size: 25px;
    margin: 10px;
    cursor: pointer;
  }

  .upToPage {
    background-color: rgb(161 161 161 / 59%);
    padding: 10px;
    border-radius: 3px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    opacity: 0.8;
    box-shadow: 4px 4px;
    &:hover {
      transform: scale(1.1);
      transition: 200ms;
      background-color: rgba(158, 158, 158, 0.26);;
    }
    &:active {
      transform: scale(1);
      transition: 80ms;
    }
  }

}
