<app-header (searchCoincidences)="searchVideos($event)" [context]="context"></app-header>
<app-sidebar></app-sidebar>
<div *ngIf="!seeVideo" class="main-container">
  <div class="data-container" *ngFor="let video of videos">
    <div *ngIf="context === 'video'" class="container-results">
      <div class="info-video">
        <img [src]="video.snippet.thumbnails.medium.url" alt="videoImage" class="videoImage" (click)="onSeeVideo(video)">
        <h5 class="video-title">{{ video.snippet.title }}</h5>
        <div class="channel-info">
          <span class="channel-name"><small>Channel: </small> <strong>{{ video.snippet.channelTitle }}</strong></span>
          <hr>
          <div class="description-video">
            <p>{{ video.snippet.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button class="btn btn-info" (click)="onGetMoreVideos()">Más +</button> -->
  <i class="fa fa-arrow-up upToPage" *ngIf="this.showButton" (click)="onScrollTop()"></i>
</div>

<app-see-video *ngIf="seeVideo"
  [showVideoSelected]="showVideoSelected"
  [url]="url"
  [query]="query"
>
</app-see-video>
