.main-container {
  padding: 30px;
  h3 {
    color: #f2f2f2;
    font-size: 19px;
    margin-top: 3px;
  }
  img {
    cursor: pointer;
  }
  .contain-date {
    color: #939393;
    .channel-title {
      padding:0px;
    }
  }
}
